# Investment Portfolio
CRED_PORTFOLIO_USERID_W={{ investmentPortfolio.writer.userid }}
CRED_PORTFOLIO_PWD_W={{ investmentPortfolio.writer.password }}
CRED_PORTFOLIO_USERID_R={{ investmentPortfolio.reader.userid }}
CRED_PORTFOLIO_PWD_R={{ investmentPortfolio.reader.password }}
URL_GET_PORTFOLIO_HOLDINGS={{ investmentPortfolio.url }}

# Simulated Instrument Analytics
CRED_INSTRUMENT_ANALYTICS_URL={{ instrumentAnalytics.uri }}
CRED_INSTRUMENT_ANALYTICS_ACCESSTOKEN={{ instrumentAnalytics.accessToken }}
